.root {
  padding: 0 1rem;
  max-width: 100rem;
  margin: 0 auto;

  @media (--s) {
    padding: 0 2rem;
  }

  @media (--l) {
    padding: 0 13.75rem;
  }
}

.intro {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.intro_container {
  display: block;

  & div {
    &:not(:last-child) {
      margin-bottom: calc(var(--yr) * var(--s3));
    }
  }

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0;

    & div {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.title {
  margin-bottom: calc(var(--yr) * var(--s5)) !important;

  @media (--m) {
    width: calc(2 / 3 * 100%);
  }
}

.h2 {
  composes: h2 from './Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s5));
}

.main {
  padding: calc(var(--yr) * var(--s2)) 0;
  margin: calc(var(--yr) * var(--s3)) 0;
  border-top: 1px solid #DBDFE3;
  border-bottom: 1px solid #DBDFE3;
}

.interview {
  margin-bottom: 2rem;

  @media (--m) {
    margin-bottom: 4.5rem;
  }
}

.leaders,
.residents,
.sites,
.production,
.position {
  margin-bottom: calc(var(--yr) * var(--s6));
}

.region {
  padding: calc(var(--yr) * var(--s6)) 0;
  margin-bottom: calc(var(--yr) * var(--s6));
  background-color: #f9f6f1;
  z-index: -1;
}

.region_container {
  padding: 0 1rem;
  background: url('./Index/Images/deer.png') no-repeat;
  background-size: contain;
  background-position: right;
  z-index: -2;

  @media (--s) {
    padding: 0 2rem;
  }

  @media (--l) {
    padding: 0 13.75rem;
  }
}

.business {
  margin-bottom: calc(var(--yr) * 8);

  & .title {
    font-family: 'PT Serif', serif;
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 12);
  }

  @media (--m) {
    margin-bottom: calc(var(--yr) * 12);
  }
}

.block {
  color: #BCAA8E;
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  margin-bottom: calc(var(--yr) * var(--s5));
  position: relative;
  overflow: hidden;

  &::after {
    background: #BCAA8E;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
  }
}

.news {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: calc(var(--yr) * var(--s6));
}

.footer {
  display: block;
  padding: calc(var(--yr) * var(--s6)) 0;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.875rem;
  }
}

.footer_button {
  background-color: #F9F6F1;
  padding: calc(var(--yr) * 5.5) calc(var(--yr) * 16);
  width: fit-content;
  text-decoration: none;
  color: #BCAA8E;
  display: block;
  margin-bottom: calc(var(--yr) * 4);
  height: fit-content;

  @media (--m) {
    margin-bottom: 0;
  }
}

.footer_info {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media (--m) {
    margin-bottom: 0;
  }
}

.overlay {
  display: none;

  @media (--m) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.logos {
  display: flex;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;

  &:first-child {
    margin-right: calc(var(--yr) * var(--s3));
  }
}
