.root {
  padding: 0 1rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  @media (--s) {
    padding: 0 13.75rem;
  }
}

.intro {
  display: block;
  margin: 2rem 0;

  @media (--s) {
    margin: 4.5rem 0;
  }

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin-bottom: 4.5rem;
    grid-row-gap: calc(var(--yr) * calc(var(--s2) * 3));
  }
}

.title {
  & h1 {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    line-height: normal;
    font-weight: normal;
    margin: 0 0 1rem;

    @media (--s) {
      font-size: calc(var(--yr) * 11.5);
      line-height: calc(var(--yr) * 15);
    }
  }

  @media (--m) {
    grid-column: -1 / 1;
    width: calc(2 / 3 * 100%);

    & h1 {
      margin: 0;
    }
  }
}

.main {
  padding: calc(var(--yr) * var(--s2)) 0;
  margin: calc(var(--yr) * var(--s3)) 0;

  border-top: 1px solid #DBDFE3;
  border-bottom: 1px solid #DBDFE3;
}

.text {
  /* margin-bottom: calc(var(--yr) * 3); */

  @media(--m) {
    margin-bottom: 0;
  }
}

.interview {
  margin-bottom: 2rem;

  @media (--m) {
    margin-bottom: 4.5rem;
  }
}

.leaders {
  margin-bottom: calc(var(--yr) * 18);
}

.production,
.position,
.structure {
  margin-bottom: calc(var(--yr) * 12);
}

.region {
  padding: calc(var(--yr) * 18) 0;
  margin-bottom: calc(var(--yr) * 18);
  background-color: #f9f6f1;
  z-index: -1;
}

.residents {
  margin-bottom: calc(var(--yr) * 18);
}

.region_container {
  padding: 0 1rem;
  background: url('./Index/Images/deer.png') no-repeat;
  background-size: contain;
  background-position: right;
  z-index: -2;

  @media (--m) {
    padding: 0 13.75rem;
  }
}

.business {
  margin-bottom: calc(var(--yr) * 12);

  & .title {
    font-family: 'PT Serif', serif;
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 12);
  }
}

.block {
  color: #BCAA8E;
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  margin-bottom: calc(var(--yr) * 12);
  position: relative;
  overflow: hidden;

  &::after {
    background: #BCAA8E;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
  }
}

.news {
  border-bottom: 1px solid #C4C4C4;
}

.footer {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.875rem;
    padding: calc(var(--yr) * 18) 0;
  }
}

.footer_button {
  background-color: #F9F6F1;
  padding: calc(var(--yr) * 5.5) calc(var(--yr) * 16);
  width: fit-content;
  text-decoration: none;
  color: #BCAA8E;
}

.footer_link {
  & a {
    text-decoration: none;
    color: #141414;
  }
}

.footer_phone {
  & p {
    margin: 0;
  }

  & a {
    text-decoration: none;
    color: #141414;
  }
}

.overlay {
  display: none;

  @media (--m) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
