.h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.h3 {
  font-weight: bold;
}

.at {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4375rem;
  line-height: 1.75rem;
}

.small {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.small_rbt {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.numbers {
  font-family: 'Cormorant Infant', serif;
  font-size: 2.75rem;
  line-height: 2.75rem;
}

@media (min-width: 960px) {
  .h1 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }

  .h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .at {
    font-size: 2.1875rem;
    line-height: 2.75rem;
  }

  .small {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .small_rbt {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .numbers {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
