.h1 {
  font-size: calc(var(--yr) * 7);
  line-height: calc(var(--yr) * 8);
  font-weight: bold;

  @media (--m) {
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 10);
  }
}

.h2 {
  font-size: calc(var(--yr) * 5.5);
  line-height: calc(var(--yr) * 7);
  font-weight: bold;

  @media (--m) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 8);
  }
}

.h3 {
  font-weight: bold;
}

.at {
  font-family: 'Cormorant Garamond', serif;
  font-size: calc(var(--yr) * 5.75);
  line-height: calc(var(--yr) * 7);

  @media (--m) {
    font-size: calc(var(--yr) * 8.75);
    line-height: calc(var(--yr) * 11);
  }
}

.small {
  font-size: calc(var(--yr) * 3.25);
  line-height: calc(var(--yr) * 5);
  font-weight: 300;

  @media (--m) {
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 6);
  }
}

.small_rbt {
  font-family: 'Roboto', sans-serif;
  font-size: calc(var(--yr) * 3.25);
  line-height: calc(var(--yr) * 5);
  font-weight: 300;

  @media (--m) {
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 6);
  }
}

.numbers {
  font-family: 'Cormorant Infant', serif;
  font-size: calc(var(--yr) * 11);
  line-height: calc(var(--yr) * 11);

  @media (--m) {
    font-size: calc(var(--yr) * 18);
    line-height: calc(var(--yr) * 18);
  }
}
