.h1,
h1 {
  font-family: var(--pt_serif);
  font-size: calc(var(--yr) * 7);
  line-height: calc(var(--yr) * 9);
  font-weight: normal;
  color: #141414;
  margin: 0;

  @media (--m) {
    font-size: calc(var(--yr) * 11.5);
    line-height: calc(var(--yr) * 15);
  }
}

.h2,
h2 {
  font-family: var(--pt_serif);
  font-size: calc(var(--yr) * 5.5);
  line-height: calc(var(--yr) * 7);
  font-weight: normal;
  color: #141414;

  @media (--m) {
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 12);
  }
}

.h3,
h3 {
  font-family: var(--pt_serif);
  font-size: calc(var(--yr) * 4.5);
  line-height: calc(var(--yr) * 6);
  font-weight: bold;
  color: #000;

  @media (--m) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 8);
  }
}

.at {
  font-size: calc(var(--yr) * 5.75);
  line-height: calc(var(--yr) * 7);

  @media (--m) {
    font-size: calc(var(--yr) * 8.75);
    line-height: calc(var(--yr) * 11);
  }
}

.small {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
}

.fn {
  font-family: var(--pt_serif);
  font-weight: bold;
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 6);
}

.bt {
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  color: #141414;
}

.numbers {
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 10);

  @media (--m) {
    font-size: calc(var(--yr) * 14);
    line-height: calc(var(--yr) * 15);
  }
}
