.header {
  position: relative;
  background: url('./Images/back.jpg') no-repeat center;
  background-color: #666;
  background-size: cover;
}

.header::before {
  content: '';
  display: block;
  padding-top: calc(5 / 4 * 100%);
}

.title {
  font-size: 2rem;
  line-height: normal;
  position: absolute;
  color: #fff;
  padding: 1rem;
  bottom: 0;
  font-weight: bold;
}

@media (min-width: 720px) {
  .header::before {
    padding-top: calc(2 / 3 * 100%);
  }

  .title {
    padding: 2rem;
    font-size: 2.75rem;
    line-height: 3rem;
  }
}

@media (min-width: 960px) {
  .header::before {
    padding-top: calc(1 / 2 * 100%);
  }

  .title {
    padding: 4rem;
  }
}

@media (min-width: 1680px) {
  .title {
    padding: 4.5rem calc(4 / 18 * 100%);
  }
}
