@import-normalize;

:root {
  --yr: 0.25rem;
  --xr: 1rem;
  --pt_serif: 'PT Serif', serif;
  --ibm_serif: 'IBM Plex Sans', sans-serif;

  --s1: 2;
  --s2: 3;
  --s3: 6;
  --s4: 7.5;
  --s5: 9;
  --s6: 12;

  @media (--s) {
    --s1: 2;
    --s2: 3;
    --s3: 7;
    --s4: 11;
    --s5: 14;
    --s6: 21;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ibm_serif);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);

  @media (--s) {
    line-height: calc(var(--yr) * 7);
  }
}

p {
  margin: 0 0 0.5rem;
  hyphens: auto;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #141414;
}
