@import-normalize;

:root {
  --yr: 0.25rem;
  --xr: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);

  @media (--s) {
    font-size: calc(var(--yr) * 4.5);
    line-height: calc(var(--yr) * 7);
  }
}

p {
  margin: 0 0 0.5rem;
}

p:last-child {
  margin-bottom: 0;
}
