.photo {
  margin-bottom: 0.5rem;
}

.image {
  position: relative;
  background-color: #666;
  background-position: center 60%;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-top: calc(9 / 16 * 100%);
  }
}

.with {
  composes: h3 from '../Fonts.module.css';
  margin-bottom: 1rem;

  @media (--m) {
    margin-bottom: 0;
  }
}

.q {
  composes: h3 from '../Fonts.module.css';
  hyphens: none;
  margin-bottom: 0.75rem;
}

.logos {
  display: flex;
}

.logo {
  display: block;
  width: 48px;
  height: 48px;

  &:not(:last-child) {
    margin-right: calc(var(--yr) * var(--s3));
  }
}

.nikitin {
  background-position: center 25%;
}
