.root {
  display: block;
}

.leaders_container {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(var(--xr) * 1.875);
  }
}

.title {
  composes: h2 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 8);

  @media (--m) {
    grid-column: -1 / 1;
    width: calc(2 / 3 * 100%);
    margin-bottom: calc(var(--yr) * 12);
  }
}

.f {
  margin-bottom: calc(var(--yr) * 4);

  @media (--m) {
    margin-bottom: 0;
  }
}

.left {
  grid-column: 2;
  margin-bottom: calc(var(--yr) * 4);

  @media (--m) {
    margin-bottom: 0;
  }
}

.right {
  grid-column: 3;
}
