.news {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(var(--yr) * 7.5);
    margin-bottom: calc(var(--yr) * 18);
  }
}

.title {
  composes: h2 from '../Fonts.module.css';
  margin-bottom: 1rem;

  @media (--m) {
    margin-bottom: calc(var(--yr) * 12);
  }
}

.text {
  composes: fn from '../Fonts.module.css';
}

.date {
  composes: bt from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 3);
}

.news_item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 1.5rem;

    @media (--m) {
      margin-bottom: 0;
    }
  }
}
