.news {
  display: block;
}

.image {
  position: relative;
  background-color: #666;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.75rem;
  background-position: center 20%;
}

.image::before {
  content: '';
  display: block;
  padding-top: calc(1 / 1 * 100%);
}

.title {
  composes: h1 from '../Fonts.module.css';
  margin-bottom: 1rem;
}

.text {
  composes: h3 from '../Fonts.module.css';
  margin-bottom: 0.75rem;
}

.date {
  composes: small from '../Fonts.module.css';
}

.news_item:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 960px) {
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .news_item:not(:last-child) {
    margin-bottom: 0;
  }
}
