.root {
  display: block;
}

.title {
  composes: h3 from '../Fonts.module.css';
  max-width: 22.5rem;
  margin-bottom: 1rem;
}

.numbers {
  composes: numbers from '../Fonts.module.css';
  margin-bottom: 0.5rem;
}

.desc {
  composes: small_rbt from '../Fonts.module.css';
  margin-bottom: 1rem;
}

.text {
  max-width: 40.5rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 960px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }

  .statistics {
    grid-column: span 2;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    border-bottom: 1px solid #e5e5e6;
    margin-bottom: 0.75rem;
  }

  .desc {
    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 3rem;
  }
}
