.root {
  composes: root from './Production.module.css';
}

.position_items {
  display: block;

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875rem;
  }
}

.position_item {
  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 4);
  }

  @media (--m) {
    margin-bottom: 0;
  }
}

.title {
  composes: title from './Production.module.css';
}

.place {
  composes: nums from './Production.module.css';
  margin-bottom: calc(var(--yr) * 3);
}

.list {
  font-size: calc(var(--yr) * 4.5);
  line-height: calc(var(--yr) * 6);

  @media (--l) {
    padding-right: calc(1 / 5 * 100%);
  }

  & li {
    position: relative;
    padding-left: calc(var(--yr) * 10.5);

    &:not(:last-child) {
      margin-bottom: calc(var(--yr) * 4);
    }

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #BBAA8C;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}
