.root {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

.title {
  composes: h3 from '../Fonts.module.css';
  max-width: 22.5rem;
  margin-bottom: 1rem;

  @media (--m) {
    margin-bottom: 0;
  }
}

.numbers {
  composes: numbers from '../Fonts.module.css';
  margin-bottom: 0.5rem;
}

.desc {
  composes: small_rbt from '../Fonts.module.css';
  margin-bottom: 1rem;

  @media (--m) {
    margin-bottom: 2rem;
  }
}

.text {
  max-width: 40.5rem;
  margin-bottom: 0.75rem;

  @media (--m) {
    margin-bottom: 3rem;
  }
}

.statistics {
  @media (--m) {
    grid-column: span 2;
  }
}

.group {
  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    border-bottom: 1px solid #e5e5e6;
    margin-bottom: 0.75rem;
  }
}
