.root {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

.title {
  composes: title from './Production.module.css';
  margin-bottom: calc(var(--yr) * 12);
}

.top {
  composes: nums from './Production.module.css';
}
