.root {
  display: block;
}

.potential_container {
  display: block;

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875rem;
  }
}

.title {
  composes: title from './Production.module.css';
}

.top {
  composes: nums from './Production.module.css';
}

.item {
  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 8);
  }

  @media (--m) {
    margin-bottom: 0;
  }
}
