.root {
  display: block;
  padding-bottom: calc(var(--yr) * 8);

  @media (--m) {
    padding-bottom: calc(var(--yr) * 12);
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--yr) * 4);
  grid-row-gap: calc(var(--yr) * 8);

  @media (--s) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--yr) * 6);
  }

  @media (--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--yr) * 7.5);

  }
}

.title {
  composes: h3 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 8);

  @media (--m) {
    grid-column: -1 / 1;
    width: calc(2 / 3 * 100%);
    margin-bottom: calc(var(--yr) * 12);
  }
}

.nums {
  composes: numbers from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 2);

  & span {
    display: inline-block;
    vertical-align: top;
    font-size: calc(var(--yr) * 8);
    transform: translateY(-10%);
  }
}

.description {
  composes: small from '../Fonts.module.css';

  @media (--l) {
    padding-right: calc(1 / 3 * 100%);
  }
}
