.root {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: calc(var(--yr) * 8);
    padding-bottom: calc(var(--yr) * 12);
  }
}

.title {
  font-family: 'PT Serif', serif;
  font-weight: bold;

  @media (--s) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 8);
  }

  @media (--m) {
    grid-column: -1 / 1;
    width: calc(2 / 3 * 100%);
    margin-bottom: calc(var(--yr) * 4);
  }
}

.nums {
  font-size: calc(var(--yr) * 14);
  line-height: calc(var(--yr) * 15);
  margin-bottom: calc(var(--yr) * 2);

  & span {
    display: inline-block;
    vertical-align: top;
    font-size: calc(var(--yr) * 8);
    transform: translateY(-10%);
  }
}

.description {
  line-height: calc(var(--yr) * 6);

  @media (--s) {
    padding-right: calc(1 / 3 * 100%);
  }
}
