.root {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;

  @media (--m) {
    width: 1024px;
    margin-left: auto;
  }
}

.content {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.close {
  position: fixed;
  height: 2rem;
  width: 2rem;
  background-color: #000;
  border-radius: 50%;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 5;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1rem;
    width: 1rem;
  }
}

.image {
  position: relative;
  background-color: #666;
  background-position: center 15%;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    padding-top: calc(1 / 2 * 100%);
  }
}

.title {
  composes: h1 from '../Fonts.module.css';
  border-bottom: 1px solid #e5e5e6;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;

  @media (--m) {
    hyphens: none;
    padding-bottom: 4.5rem;
  }
}

.desc {
  font-family: var(--pt_serif);
  font-weight: 700;
  margin-bottom: 1rem;

  @media (--m) {
    margin-bottom: 3rem;
  }
}

.group {
  padding: 1rem 1rem 3rem 1rem;

  @media (--m) {
    padding: 0.75rem 3.75rem 4.5rem 7rem;
  }
}
