.root {
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.title {
  composes: h1 from '../Fonts.module.css';
  margin-bottom: 1rem;
}

.place {
  position: relative;
  margin-bottom: 0.5rem;
}

.place::before {
  display: block;
  content: '';
  padding-top: calc(2 / 3 * 100%);
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  background: url('./Images/map.png') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.desc {
  composes: small from '../Fonts.module.css';
}

@media (min-width: 960px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin-bottom: 4.5rem;
  }

  .place {
    grid-column: span 2;
  }

  .desc {
    grid-column: 2 / span 2;
  }
}
