.root {
  position: relative;
  display: block;
  margin-bottom: 2rem;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875rem;
  }
}

.title {
  composes: title from './Production.module.css';
  margin-bottom: calc(var(--yr) * 12);
  grid-column: 1;
}

.sites_container {
  grid-column: 2;
  margin-bottom: calc(var(--yr) * 18);
}

.text {
  margin-bottom: calc(var(--yr) * 12);
}


.more {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: #F9F6F1;
  width: calc(4 / 6 * 100%);
  padding: calc(var(--yr) * 5.5) 0 calc(var(--yr) * 5.5) calc(var(--yr) * 7.5);
  position: relative;

  & svg {
    position: absolute;
    width: 15px;
    height: 28px;
    display: block;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.sites_link {
  text-decoration: none;
  color: #BCAA8E;
}
