.root {
  display: block;
  margin-bottom: 2rem;
}

.title {
  composes: h1 from '../Fonts.module.css';
  margin-bottom: 1rem;
}

.place:not(:last-child) {
  margin-bottom: 1.5rem;
}

.image {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.75rem;
}

.image::before {
  content: '';
  display: block;
  padding-top: calc(4 / 5 * 100%);
}

.desc {
  composes: h2 from '../Fonts.module.css';
}

@media (min-width: 960px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin-bottom: 4.5rem;
  }
}
