.root {
  display: block;
  margin-bottom: 0.75rem;

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
  }
}

.title {
  font-family: 'PT Serif', serif;
  font-weight: normal;

  @media (--s) {
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 12);
  }

  @media (--m) {
    grid-column: 3 / span 2;
    padding-top: calc(var(--yr) * 12);
    margin-bottom: calc(var(--yr) * 12);
  }
}

.text {
  grid-column: 4;
}
